.bd-pageheader {
    color: #cdbfe3;
    background-color: #35597c
    background: url("iss040e018989~medium_crop.jpg") center center;
}

.col1{
    background: #5C7080;
}

.col2{
    background: #6BC0FF;
}
