.bd-pageheader {
    color: #cdbfe3;
    background-color: transparent;
    position: relative;
    background: url("../images/iss040e018989~medium_crop.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.col1{
    background: #5C7080;
}

.col2{
    background: #6BC0FF;
}
