<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="description" content="NASA Rocket Science : ">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}stylesheets/stylesheet.css">
<!-- Bootstrap core CSS -->
<link href="{{ site.url }}css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->

<title>NASA Rocket Science</title>