<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="Steven Martin">

<title>
    NASA Sounding Rocket Working Group
</title>

<!-- Bootstrap core CSS -->
<link href="{{ site.linkref }}/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ site.linkref }}/css/docs.min.css" rel="stylesheet">
<link href="{{ site.linkref }}/css/mystylesheet.css" rel="stylesheet">
