<div class="clearfix">
    <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
      &#9776;
    </button>
    <a class="navbar-brand hidden-sm-up" href="/">
      NASA Rocket Science
    </a>
  </div>
  <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
    <nav class="nav navbar-nav">
        <a class="nav-item nav-link " href="/">NASA Rocket Science</a>
    	<a class="nav-item nav-link " href="{{ site.linkref }}/about">About</a>
		<a class="nav-item nav-link" href="{{ site.linkref }}/srwg">Sounding Rocket Working Group</a>
		<a class="nav-item nav-link" href="{{ site.linkref }}/news">News</a>
      	<a class="nav-item nav-link active" href="{{ site.linkref }}/learning">Learning Center</a>
      <a class="nav-item nav-link" href="{{ site.linkref }}/launches">Launches</a>
    </nav>
  </div>