  <!-- HEADER -->
    <div id="header_wrap" class="outer">

        <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="" class="navbar-brand" id="project_title">NASA Rocket Science</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
          <li><a href="#about">About</a></li>
          <li><a href="#about">Learning Center</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#about">Launches</a></li>
          <li><a href="#about">SRWG</a></li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#help">Help</a>
        </li>
      </ul>
    </nav>
 </div>
</header>
</div>