<div class="clearfix">
  <a class="navbar-brand hidden-sm-up" style="color:white;">
    NASA Sounding Rocket Science
  </a>
    <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
      &#9776;
    </button>

  </div>
  <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
    <nav class="nav navbar-nav navbar-dark bg-dark">
    <a class="nav-item nav-link " href="{{ site.linkref }}/">NASA Rocket Science</a>
    <a class="nav-item nav-link " href="{{ site.linkref }}/about">About</a>
		<a class="nav-item nav-link" href="{{ site.linkref }}/srwg">Sounding Rocket Working Group</a>
    <a class="nav-item nav-link" href="{{ site.linkref }}/education">Education</a>
    <a class="nav-item nav-link" href="{{ site.linkref }}/publications">Publications</a>
    <a class="nav-item nav-link" href="{{ site.linkref }}/launches">Launches</a>


    </nav>
  </div>
